
@mixin box-sizing {box-sizing: border-box;}
@mixin transition {transition: all .3s ease-in-out;}
@mixin boxshadow {box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);}

#btns * {
  @include transition;
}

#btns {
  padding: 50px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-flow: row wrap;
  color: white;
}

.btn {
  position: relative;
  padding: 25px 20px 25px;
  width: 30%;
  background: #111;
  font-family: lato;
  cursor: pointer;
  @include box-sizing;
}


/* Button Backgrounds */

.btn:nth-child(1) {
  background: #08f1c3;
}

.btn:nth-child(2) {
  background: #15d6b0;
}

.btn:nth-child(3) {
  background: #16b999;
}

.btn:nth-child(4) {
  background: #08f1c3;
}

.btn .icon {
  display: block;
  margin: 10px auto;
  width: 80px;
  height: 80px;
  transform-origin: center;
  transform: scale(0.9);
  color: $primary-color;
}

.btn .icon {
  fill: currentColor;
}

/* Text Styles */

.btn h2 {
  margin-bottom: 15px;
  text-align: center;
  color: $primary-color;
  font-family: raleway;
  font-size: 1.4em;
  line-height: 1em;
  font-weight: 400;
}

.btn p {
  color: #fff;
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
}

.table-single p {
  
}
.table-single ul li {
  text-decoration: none;
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid #454549;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
.table-single ul li h3{
  font-size: 1,5em;
}
.buy-button div {
  line-height: 2em;
  background-color: #35a790;
  padding: 20px;
  color: #fff;

}

/* Hover Effects */

.btn:hover {
  background: #16a085;
}

.btn:hover:after {
  border-left: 20px solid #0b6ca9;
}

.btn:hover .icon {
  transform-origin: center;
  transform: scale(1);

}

.btn:hover h2 {
  color: #fff;
}

/* Media Queries */

@media all and (max-width: 950px) and (min-width: 701px) {
  .btn {
    width: 50%;
  }
  
  .btn:nth-child(2):after {
    border-left: 0px;
  }
}

@media all and (max-width: 700px) and (min-width: 0px) {
  .btn {
    display: block;
    width: 100%;
  }
  
  .btn:nth-child(1):after,
  .btn:nth-child(2):after,
  .btn:nth-child(3):after {
    border-left: 0px;
  }
}